.nav-item, .card-title, .card-text{
    color:blueviolet;
}

.btn-comprar {
    background-color: blueviolet;
    color: white;
}

.imagem-carrossel{
    height: 80vh;
}

body {
    background-color: #080808;
}